@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600&display=swap');

html {
    background-color:  rgba(0, 0, 0, 0.993);
    color: #eee
}

.tagline {
    font-size: 3.2rem; 
}

body {
    font-family: 'Inconsolata', monospace;
    line-height: 1.5;
}

#bio {
    background-color: #8a3633;
    padding: .2rem 1rem;
}

.p-button {
    line-height: 2;
    margin: 1rem;
    font-size: 1rem;
    font-weight: 500;
    padding: .5rem;
    border-radius: .2rem;
    white-space: nowrap;
    background: #000000;
    color: #eee;
    border: 1px dashed #8a3633;
    min-width: 100px;
}

.hide {
    display: none;
}

#content {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  width: 90%;
  padding: 2rem;
}

#proj-bttns {
    margin: 2rem;
    text-align: center;
}

#greeting-container {
  margin-top: 20px;
}

.photos {
    width: 49%;
    padding: .2rem;
    text-align: center;
}

.project-desc a {
    background: white;
    color: black;
    padding: 1rem;
    box-shadow: 5px 5px 5px rgb(52, 52, 52);
}

.photos img {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.project-desc p {
    border: 1px solid #eee;
    margin: 10px;
    padding: 5px;
}

#masthead h1, h2, h4, h5 {
    background: linear-gradient(180deg, rgba(255,255,255,0) 80%, #8a3633 20%);
}



.project-desc div {
    background: #8a3633;
    margin: 1rem;
    padding: .5rem;
    min-width: 96%;
    max-width: 100%;
}

#photography, .project-desc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}



i img {
    width: 35px;
    height: 35px;
    line-height: 1;
    padding: 10px;
}

li {
    list-style-type: none;
}

.links {
    display: block;
    margin-top: 2rem;
}

.links ul {
    display: table;
    margin: 0 auto;
    padding-inline-start: 0px;
}

.links li:nth-child(-n+2) {
    -webkit-filter: invert(1);
    filter: invert(1);
}

.links li {
    float: left;
    margin: 0 5px;
}